/*
*                 ---| Text styles |---          
*/

body {
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Alumni Sans', sans-serif;
  color: green;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 6em;
  line-height: 1;
}

h2 {
  font-size: 4em;
}

p,
a {
  font-size: 1.25rem;
}

.hero-content > h1,
.hero-content > p {
  color: white;
}

/*
*                --- | END of text styles | ---
*/

/*
*                 --- | Header | ---
*/
header {
  text-align: center;
}

.logo {
  width: 10em;
  padding: 1em;
}

/*
*                --- | END of header | ---
*/

/*
*                       ---| Navbar |---          


.topnav {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 2px -1px 12px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px -1px 12px 8px rgba(0, 0, 0, 0.2);
}

.topnav a {
  float: left;
  display: block;
  color: #032d11;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


*                    ---| End of navbar |---          
*/

/*
*               ---| Section container styles |---          
*/
.section-container {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8em 2em;
}

.section-container:first-of-type {
  min-height: 80vh;
  background-color: #032d11;
  padding: 0.5em 2em 0 2em;
}

.section-container:nth-of-type(2) {
  background-color: white;
}

/*
*             ---| END of section container styles |---          
*/

.section-content {
  max-width: 1080px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3em;
  justify-self: center;
  align-self: center;
}

.section-container:nth-of-type(2) > .section-content {
  grid-template-columns: 1fr 2fr;
}

.image {
  display: flex;
  justify-content: center;
  max-width: 300px;
}
img {
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .section-container {
    padding: 3em 2em;
  }
  .section-content {
    grid-template-columns: 1fr !important;
    justify-items: center;
    row-gap: 2em;
  }
  h1 {
    font-size: 5em;
  }
  .hero-image {
    display: none;
  }
}

/*
*             ---| Footer |---          
*/

footer {
  text-align: center;
}

.footer-content {
  display: inline-block;
  margin: 2em;
}

.footer-content > p {
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/*
*          ---| END of footer |---          
*/
